*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: white
}
.backgroudParticle{
  z-index: -1;
}
.main{
  width: 100%;
  border: 1px solid red;
  height: 500px;
  margin: 30px;
}